*{
    padding: 0;
    margin: 0;
    font-family: "Rotobo",sans-serif;
}

.container{
    width: 1707px;
    margin: auto;
}

header{
    background: #B85B4C;
    height: 150px;
    border-style: double;
}
header img{
    width: 125px;
    height: 100px;
    margin: 23px;
    border-radius: 70px;
}
nav{
    background-color: #D49053;
    height: 75px;
    margin-bottom: 5px;
    
}

nav .menu ul{
    list-style: none;

}
nav .menu ul li{
    float: left;
    line-height: 70px;
    padding: 0 50px;
}

nav .menu ul li a{
    color: black;
    font-size: large;
    text-decoration-line: none ;
    font-weight: 550;
}

nav .search{
    line-height: 70px;
    float: right;
    margin-right: 50px;
}

.img_slide {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-around;
}


