*{
    padding: 0;
    margin: 0;
    font-family: "Rotobo",sans-serif;
}

.container{
    width: 1707px;
    margin: auto;
}
       /* header */
.header{
    background: #B85B4C;
    height: 150px;
    border-style: double;
}
.logo{
    width: 125px;
    height: 100px;
    margin: 23px;
    border-radius: 100px;
}


       /* navbar */
.navbar_header{
    background-color: #D49053;
    height: 75px;
    margin-bottom: 5px;
    
}

.nav_ul{
    list-style: none;

}
nav .menu ul li{
    float: left;
    line-height: 70px;
    padding: 0 50px;
   
}

nav .menu ul li a{
    color: black;
    text-decoration-line: none ;
    font-weight: 550;
}

.search{
    line-height: 70px;
    margin-right: 50px;
    float: right;
    
}

.img_slide {
    width: 70%;
    height: 550px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}



.placeholder{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.search_button:hover{
    width: 130px;
    height: 27px;
    color: rgb(68, 11, 224);
    border-radius: 4px;
}